<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()"
    class="modal fade create-or-edit-post-category-modal" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #postCategoryForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="postCategory.id">{{ 'Edit' | localize }}: {{ postCategory.code
                            }} - {{postCategory.name}}</span>
                        <span *ngIf="!postCategory.id">{{ 'CreatePostCategory' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-5">
                        <div class="col-10">
                            <label class="form-label">{{ 'Code' | localize }} <span class="text-danger">*</span></label>
                            <input class="form-control" id="Code" #codeInput="ngModel" type="text" name="Code"
                                [(ngModel)]="postCategory.code" required />
                            <validation-messages [formCtrl]="codeInput"></validation-messages>
                        </div>
                        <div class="col-2">
                            <label class="form-label">{{ 'IsActive' | localize }} <span
                                    class="text-danger">*</span></label>
                            <div class="d-flex align-items-center">
                                <p-inputSwitch id="IsActive" [(ngModel)]="postCategory.isActive"
                                    name="IsActive"></p-inputSwitch>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-12">
                            <label class="form-label">{{ 'Name' | localize }} <span class="text-danger">*</span></label>
                            <input class="form-control" id="Name" #nameInput="ngModel" type="text" name="Name"
                                [(ngModel)]="postCategory.name" required />
                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <label for="Parent" class="col-lg-12 form-label">{{'PostCategory' | localize}}</label>
                        <p-autoComplete [(ngModel)]="selectedPostCategory" id="Parent"
                            [suggestions]="filteredPostCategories" (completeMethod)="filterPostCategories($event)"
                            [field]="selectedItemDisplay" placeholder="{{'PostCategories' | localize}}" [minLength]="1"
                            name="Parent" inputStyleClass="form-control" styleClass="w-100">
                            <ng-template let-postCategory pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ postCategory.code }} - {{postCategory.name}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary fw-bold" (click)="close()">
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary fw-bold" [disabled]="!postCategoryForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>