<div [@routerTransition]>
    <sub-header [title]="'PostCategories' | localize" [description]="'PostCategoriesHeaderInfo' | localize">
        <div role="actions">
            <!-- <button (click)="createPostCategory()" *ngIf="'CCB.PostCategory.Create' | permission"
                class="btn btn-primary float-end">
                <i class="fa fa-plus btn-md-icon"></i>
                <span class="d-none d-md-inline-block">
                    {{ 'CreateNewPostCategory' | localize }}
                </span>
            </button> -->
            <span>{{"PhoneBook" | localize}}</span>
        </div>
    </sub-header>

    <div [class]="containerClass">

    </div>

</div>